:root {
  --head-color: aqua;
  --temp-color: rgb(105, 255, 105);
  --temp-bgc: rgb(224, 129, 204);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.head {
  display: flex;
  align-items: center;
  height: 100px;
  width: 700px;
  gap: 15px;
  background-color: var(--head-color);
  border-radius: 20px 20px 0 0;
  margin-top: 20px;
}

.head > h1 {
  margin-left: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.location-input {
  outline: none;
  /* border: none; */
  padding: 5px;
  font-size: 16px;
  border-radius: 15px;
  margin-right: 20px;
  width: 300px;
}
.temp {
  height: 250px;
  width: 700px;
  text-align: center;
  align-content: center;
  color: var(--temp-color);
  background-color: var(--temp-bgc);
}
.temp > h1 {
  font-size: 70px;
}
@media screen and (max-width: 768px) {
  .head {
    width: 90vw;
  }
  .temp {
    width: 90vw;
  }
}
